<div class="col-lg-auto">
  <nb-card>
    <nb-card-header>satisfaction List</nb-card-header>
    <nb-card-body>
  <div class="body table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>id</th>
        <th>date</th>
        <th>YourChild</th>
        <th>Education</th>
        <th>Event</th>
        <th>Offer</th>
        <th>TeamOfKindergarten</th>
        <th>Ambiance</th>
        <th>Communication</th>
        <th>Note</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of satisList">
        <th scope="row">{{s.id}}</th>
        <th>{{s.date}}</th>
        <th>{{s.satisfactionOfYourChild}}</th>
        <th>{{s.sysOfEducation}}</th>
        <th>{{s.satisEvent}}</th>
        <th>{{s.satisOffer}}</th>
        <th>{{s.statisTeamsOfFc}}</th>
        <th>{{s.statisambiance}}</th>
        <th>{{s.statisCommunationOnFc}}</th>
        <th>{{s.noteFc}}</th>
        <td>
        <button type="button" class="btn btn-danger">delete</button>
        <button type="button" class="btn btn-success">update</button>
        </td>
      </tr>
    </table>
  </div>
    </nb-card-body>
  </nb-card>
</div>
