

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>create account</h3>
      <form  [formGroup]="inscriptionForm">
        <div class="form-row">
          <div class="col-md-6">
            <label >First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="First Name"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">
                First name is required
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label >Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Last Name"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            />
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors.required">
                Last name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4">
            <label >Phone number</label>
            <input
              type="text"
              class="form-control"
              formControlName="phonenumber"
              placeholder="Phone number"
              [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }"
            />
           
            
            </div>
          </div>
          <div class="col-md-4">
            <label >E-mail</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="E-mail address"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            
            </div>
          </div>

          <div class="col-md-4">
            <label >Birth date</label>
            <input
              type="date"
              class="form-control"
              formControlName="datenais"
              placeholder="Birth date"
              [ngClass]="{ 'is-invalid': submitted && f.datenais.errors }"
            />
           
              
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4">
            <label >Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Enter your password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">
                Password is required
              </div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 10 characters
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label >Confirm password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              placeholder="Enter your confirm password"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <button (click)="signup()">
              create Account Parent
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<h1>{{msg}}</h1>
