<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Reclamation</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Subject">
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Compain">
        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Description"></textarea>
        <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Answer">
      </nb-card-body>
    </nb-card>
  </div>
</div>
